<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title - Mausr</title>
	@Styles.Render("~/Content/css")

</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				@Html.ActionLink("Mausr", MVC.Home.Index())
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li>@Html.ActionLink("Symbols", MVC.Symbols.Index())</li>
					<li>@Html.ActionLink("Drawings", MVC.SymbolDrawings.Index())</li>
					<li>@Html.ActionLink("Plots", MVC.Plot.Index())</li>
					<li>@Html.ActionLink("Learn", MVC.Learn.Index())</li>
					<li>@Html.ActionLink("Train", MVC.Train.Index())</li>
				</ul>
				@Html.Partial("_LoginPartial")
			</div>
		</div>
	</div>
	<div class="container body-content">
		@RenderBody()
		<hr />
		<footer>
			<p>&copy; @DateTime.Now.Year - Mausr</p>
		</footer>
	</div>

	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
	@MyHtml.EmitRequiredScripts()
	@RenderSection("scripts", required: false)
</body>
</html>
