<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title - Mausr</title>
	@Styles.Render("~/Content/css")
</head>
<body>
	<div class="navbar navbar-default navbar-static-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				@Html.ActionLink("Mausr", MVC.Home.Index(), new { @class = "navbar-brand" })
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li>@Html.ActionLink("About", MVC.Home.About())</li>
					<li>@Html.ActionLink("Symbols", MVC.Symbols.Index())</li>
					<li>@Html.ActionLink("Drawings", MVC.SymbolDrawings.Index())</li>
					<li>@Html.ActionLink("Train details", MVC.Home.TrainDetails())</li>
				</ul>
				@Html.Partial("_LoginPartial")
				<ul class="nav navbar-nav navbar-right">
					<li>@Html.ActionLink("Contact", MVC.Home.Contact())</li>
				</ul>

				@if (User.IsInRole(RolesHelper.Admin)) {
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Admin <span class="caret"></span></a>
							<ul class="dropdown-menu" role="menu">
								<li>@Html.ActionLink("Users", MVC.Administration.Users.Index())</li>
								<li>@Html.ActionLink("Symbols", MVC.Administration.Symbols.Index())</li>
								<li>@Html.ActionLink("Drawings", MVC.Administration.SymbolDrawings.Index())</li>
							</ul>
						</li>
					</ul>
				}

				@if (User.IsInRole(RolesHelper.Trainer)) {
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Trainer <span class="caret"></span></a>
							<ul class="dropdown-menu" role="menu">
								<li>@Html.ActionLink("Neural networks", MVC.Train.Index())</li>
								<li>@Html.ActionLink("User drawings", MVC.Drawings.Index())</li>
								<li>@Html.ActionLink("Test plots", MVC.Plot.Index())</li>
							</ul>
						</li>
					</ul>
				}

				@if (User.IsInRole(RolesHelper.Teacher)) {
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Teacher <span class="caret"></span></a>
							<ul class="dropdown-menu" role="menu">
								<li>@Html.ActionLink("Teach symbols", MVC.Teach.Index())</li>
							</ul>
						</li>
					</ul>
				}
			</div>

		</div>
	</div>
	<div class="container body-content">
		@RenderBody()
		<hr />
		<footer class="row">
			<div class="col-md-3">
				<p>
					Created by <a href="http://www.marekfiser.com/">Marek Fišer</a>
				</p>
			</div>
			<div class="col-md-3">
				<h4>Mausr basics</h4>
				<ul class="list-unstyled">
					<li>@Html.ActionLink("Symbol recognition", MVC.Home.Index())</li>
					<li>@Html.ActionLink("About Mausr", MVC.Home.About())</li>
					<li>@Html.ActionLink("Contact", MVC.Home.Contact())</li>
				</ul>
				<ul class="list-unstyled">
					<li>@Html.ActionLink("Log in", MVC.Account.Login())</li>
				</ul>
			</div>
			<div class="col-md-3">
				<h4>Mausr advanced</h4>
				<ul class="list-unstyled">
					<li>@Html.ActionLink("Symbols list", MVC.Symbols.Index())</li>
					<li>@Html.ActionLink("Symbol drawings", MVC.SymbolDrawings.Index())</li>
					<li>@Html.ActionLink("Train details", MVC.SymbolDrawings.Index())</li>
				</ul>
			</div>
			<div class="col-md-3">
				<h4>Other websites</h4>
				<ul class="list-unstyled">
					<li><a href="http://www.marekfiser.com/">Author's personal page</a></li>
					<li><a href="http://malsys.cz/">Malsys – Marek's L-systems</a></li>
				</ul>
			</div>
		</footer>
	</div>	

	<script>
		(function (i, s, o, g, r, a, m) {
			i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
				(i[r].q = i[r].q || []).push(arguments)
			}, i[r].l = 1 * new Date(); a = s.createElement(o),
			m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
		})(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

		ga('create', 'UA-57558811-1', 'auto');
		ga('send', 'pageview');
	</script>
	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
	@MyHtml.EmitRequiredScripts()
	@RenderSection("scripts", required: false)
</body>
</html>
