@model IEnumerable<IGrouping<Symbol, SymbolDrawing>>

@{
	ViewBag.Title = "Symbol drawings";
	int imageSize = 128;
	int penSize = 4;
}

<h1>@ViewBag.Title</h1>

@foreach (var group in Model) {
	<div class="row">
		<hr />
		<h4>@group.Key.SymbolStr: @group.Key.Name</h4>
		@foreach (var item in group) {
			<div class="pull-left">
				<img src="@Url.Action(MVC.SymbolDrawings.Img(item.SymbolDrawingId, imageSize, penSize, false, true))"
					 width="@imageSize" height="@imageSize" />
				<p class="small">@item.CreatedDateTime.ToString(System.Globalization.CultureInfo.InvariantCulture)</p>
				@Html.ActionLink("Delete", "Delete", new { id = item.SymbolDrawingId })
			</div>
		}
	</div>
}
