@model IEnumerable<SymbolDrawing>

@{
	ViewBag.Title = "Symbol drawings";
	int imageSize = 128;
	int penSize = 4;
}

<h2>@ViewBag.Title</h2>

<p>
	@Html.ActionLink("Create New", "Create")
</p>
<table class="table">
	<tr>
		<th>@Html.DisplayNameFor(model => model.Symbol.SymbolStr)</th>
		<th>@Html.DisplayNameFor(model => model.CreatedDateTime)</th>
		<th>Image</th>
		<th></th>
	</tr>

	@foreach (var item in Model) {
		<tr>
			<td>@Html.DisplayFor(modelItem => item.Symbol.SymbolStr)</td>
			<td>@Html.DisplayFor(modelItem => item.CreatedDateTime)</td>
			<td>
				<img src="@Url.ActionAbsolute(MVC.SymbolDrawings.Img(item.SymbolDrawingId, imageSize, penSize))"
						width="@imageSize" height="@imageSize" />
			</td>
			<td>
				@Html.ActionLink("Delete", "Delete", new { id = item.SymbolDrawingId })
			</td>
		</tr>
	}

</table>
