@model Mausr.Web.Models.IndexViewModel
@{
	ViewBag.Title = "Manage account";
}

<h1>@ViewBag.Title</h1>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
	<h4>Change your account settings</h4>
	<hr />
	<dl class="dl-horizontal">
		<dt>Password:</dt>
		<dd>
			[
			@if (Model.HasPassword) {
				@Html.ActionLink("Change your password", "ChangePassword")
			}
			else {
				@Html.ActionLink("Create", "SetPassword")
			}
			]
		</dd>
		<dt>External Logins:</dt>
		<dd>
			@Model.Logins.Count [ @Html.ActionLink("Manage", "ManageLogins") ]
		</dd>
	</dl>
</div>
