@model TeachInitViewModel

@{
	ViewBag.Title = "Teaching introduction";
}

<h1>@ViewBag.Title</h1>

<h3>Instructions</h3>
<ol>
	<li>
		Draw symbols as you would draw them when you want to search for them.
		Filled shapes does not need to be filled (just outline is fine).
		Complicated shapes (like snow flakes) can be simplified.
	</li>
	<li>
		Draw symbols with your hand writing (which is not necesiraly the same as they appear on the screen).
		Use skip button if you are not sure how to draw a symbol (such as some greek letter).
	</li>
	<li>
		Drawings does not have to be perfect but please do not submit particuraly ugly drawings.
		Clear the canvas and draw the symbol again.
	</li>
	<li>
		Relative size and position of drawn symbols within the canvas does not matter (much).
	</li>
</ol>

<h3>Stats</h3>
<dl class="dl-horizontal">
	<dt>Total symbols count</dt>
	<dd>@Model.Symbols.Count</dd>

	<dt>Symbols</dt>
	<dd>@string.Join(", ", Model.Symbols.Select(x => x.SymbolStr))</dd>

	<dt>Est. completition time</dt>
	<dd>@Math.Round(Model.Symbols.Count * 3 / 60.0, 1) minutes (three seconds per sybmol)</dd>
</dl>

@Html.ActionLink("Start teaching all", MVC.Teach.StartTeachingAll(), new { @class = "btn btn-primary" })