@model PromoteDrawingsViewModel
@{
	ViewBag.Title = "Promote drawings";
	
	var drawings = Model.Drawings;
	var predicts = Model.Predictions;

	System.Diagnostics.Debug.Assert(drawings.Count == predicts.Count);

	int imageSize = 128;
	int penSize = 4;
}

<h1>@ViewBag.Title</h1>

@if (Model.SavedRows > 0) {
	<p class="alert alert-success">Successfully saved @Model.SavedRows entries</p>
}
@if (Model.SkippedRows > 0) {
	<p class="alert alert-danger">Failed to save @Model.SkippedRows entries</p>
}


@if (drawings.Count == 0) {
	<p>Nothing to approve.</p>
}
else { 
	using (Html.BeginForm(MVC.Teach.ApproveSymbolDrawingsPost())) {

		<div class="row">
			<div class="col-md-12">
				@for (int i = 0; i < drawings.Count; ++i) {
					var drawing = drawings[i];
					var prediction = predicts[i];
					System.Diagnostics.Debug.Assert(drawing.LowQuality == false);
					System.Diagnostics.Debug.Assert(drawing.PromotedSymbolDrawing == null);
				
					<div class="pull-left">						
						<img src="@Url.Action(MVC.Drawings.Img(drawing.DrawingId, imageSize, penSize, false, true))"
							 width="@imageSize" height="@imageSize" />
						<p>
							@(drawing.TopSymbol != null ? drawing.TopSymbol.SymbolStr : "")
							(@(drawing.TopSymbolScore != null ? Math.Round(drawing.TopSymbolScore.Value * 100, 1).ToString() : "")%)
						</p>

						<div class="radio has-success">
							<label>
								@Html.RadioButton("promotions[" + drawing.DrawingId + "]", "True")
								Approve
							</label>
						</div>
						<div class="radio has-error">
							<label>
								@Html.RadioButton("promotions[" + drawing.DrawingId + "]", "True")
								Reject
							</label>
						</div>
					</div>
				}
			</div>
		</div>

		<input type="submit" value="Submit" class="btn btn-primary" />
	}
}