@model SymbolDrawingPartialViewModel

@{
	SymbolDrawing drawing = Model.SymbolDrawing;
	int imageSize = Model.ImageSise;
}

<img src="@Url.Action(MVC.SymbolDrawings.Img(drawing.SymbolDrawingId, imageSize, Model.PenSizePerc, 0, false, true))"
	 width="@imageSize" height="@imageSize" />
<ul class="list-unstyled">
	<li><b>@drawing.Symbol.SymbolStr</b></li>
	<li>@drawing.CreatedDateTime.ToString(System.Globalization.CultureInfo.InvariantCulture)</li>
	<li>Drawn using @(drawing.DrawnUsingTouch ? "touch" : "mouse")</li>
	<li>By @(drawing.Creator != null ? MyHtml.UserNameAsAbbr(drawing.Creator) : new HtmlString("unknown"))</li>
	<li>@Html.ActionLink("Delete", MVC.Administration.SymbolDrawings.Delete(drawing.SymbolDrawingId))</li>
</ul>

