@model UsersViewModel

@{
	ViewBag.Title = "Users";
	var users = Model.Users;
	var roles = Model.RoleNamesLookup;
	var pagination = users.Html();
}

<h1>@ViewBag.Title</h1>

<p>
	@Html.ActionLink("Create New user", "Create")
</p>

@pagination

<table class="table">
	<tr>
		<th>UserName</th>
		<th>Email</th>
		<th>EmailConfirmed</th>
		<th>Roles</th>
		<th>AccessFailedCount</th>
		<th>SymbolDrawings</th>
		<th></th>
	</tr>

	@foreach (var user in users) {
		<tr>
			<td>@Html.DisplayFor(m => user.UserName)</td>
			<td>@Html.DisplayFor(m => user.Email)</td>
			<td>@Html.DisplayFor(m => user.EmailConfirmed)</td>
			<td>@string.Join(", ", user.Roles.Select(r => roles[r.RoleId]))</td>
			<td>@Html.DisplayFor(m => user.AccessFailedCount)</td>
			<td>@string.Join(", ", user.SymbolDrawings.Count)</td>
			<td>
				@Html.ActionLink("Edit", "Edit", new { id = user.Id }) |
				@Html.ActionLink("Details", "Details", new { id = user.Id }) |
				@Html.ActionLink("Delete", "Delete", new { id = user.Id })
			</td>
		</tr>
	}

</table>

@pagination
