@model IPagination<Drawing>

@{
	ViewBag.Title = "Drawings";
	int imageSize = 128;
	int penSize = 4;
	var pagination = Model.Html();
	var ic = System.Globalization.CultureInfo.InvariantCulture;
}

<h1>@ViewBag.Title</h1>

@pagination


<div class="row">
	<div class="col-md-12">
		@foreach (var drawing in Model) {
			<div class="pull-left">
				<img src="@Url.Action(MVC.Drawings.Img(drawing.DrawingId, imageSize, penSize, false, true))"
					 width="@imageSize" height="@imageSize" />
				<p>
					@(drawing.TopSymbol != null ? drawing.TopSymbol.SymbolStr : "")
					(@(drawing.TopSymbolScore != null ? Math.Round(drawing.TopSymbolScore.Value * 100, 1).ToString(ic) : "")%)
				</p>
			</div>
		}
	</div>
</div>

@pagination

